.w-e-textarea-swiper-card-container {
  width: 500px;
  height: 450px;
  margin: 6px auto;
  background-color: var(--w-e-textarea-slight-bg-color);
  border-radius: 10px;
  display: flex;
  padding: 10px ;
}

.w-e-textarea-swiper-card-item {
  width: 100%;
  position: absolute;
}

.w-e-textarea-swiper-card-img {
  width: 480px;
  height: 430px;
  
  // object-fit: cover;
}